<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style/estilo.css') }}">
        <title>UNES</title>
    </head>
    <body class="fundo2">

        <img src="{{ url_for('static',filename='/img/logo.png')}}" alt="">
        <div class="indiceprimario">
            <a href="/" class="indice">Home</a> |
            <a href="/quemsomos" class="indice">Quem Somos</a> |
            <a href="/contato" class="indice">Contato</a>
        </div>
        <br>
        <h2>Entre em contato</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis laborum natus officia sint et assumenda eaque explicabo architecto ratione.
        <hr>
        <form>
            Seu e-mail: <br>
            <input type="email"> <br>

            Assunto: <br>
            <input type="text"> <br>

            Descrição: <br>
            <textarea></textarea> <br>

            <button name="enviar">Enviar</button>
        </form>
        
        <br>
        
        <h4><center>Todos os direitos reservados</center></h4>
        
    </body>
</html>