<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/style/estilo.css') }}">
        <title>UNES</title>
    </head>
    <body class="fundo2">

        <img src="{{ url_for('static',filename='/img/logo.png')}}" alt="">
        <div class="indiceprimario">
            <a href="/" class="indice">Home</a> |
            <a href="/quemsomos" class="indice">Quem Somos</a> |
            <a href="/contato" class="indice">Contato</a>
        </div>
        <br>
        <h2>Quem somos</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae debitis aspernatur atque praesentium aut facilis, nostrum repellat assumenda ea tenetur! Ad quae, praesentium tenetur iste sed dolor magni illo officiis ipsa deleniti esse reprehenderit quisquam placeat aliquid est expedita tempore. Consequuntur nisi sequi dolorum facere debitis. Aut ducimus mollitia alias?

        <h3>5 motivos para estudar</h3>
        <div class="motivosestudar">
            1. Material sempre atualizado <br>
            2. Tabletes em sala de aula <br>
            3. Professores renomados <br>
            4. Universidade bem avaliada <br>
            5. Ótima localização
        </div>
        <hr>
        <h3>Objetivos</h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, repellat consequuntur. Enim, facere iusto. Fugit praesentium dolor velit doloremque sed incidunt aspernatur ullam earum? Similique suscipit fugit neque commodi dolores molestias, dicta aliquid eveniet hic repellendus dolore delectus perspiciatis minus voluptas quia consectetur cum nam possimus repellat, error cumque accusantium.
        
        <br>
        
        <h4><center>Todos os direitos reservados</center></h4>

    </body>
</html>